{% extends 'default.html' %}

{% block content %}
    <div class="flex flex-col items-center justify-center w-screen h-screen bg-gray-200 text-gray-700">
        <div class="w-full max-w-lg">
            <h1 class="font-bold text-3xl text-center">Sign in to Qwarta</h1>
            <form class="flex flex-col bg-white rounded shadow-lg mt-5 w-full p-12" method="post">
                {% csrf_token %}
                <label class="font-semibold text-xs" for="username">Username</label>
                <input id="username"
                       class="h-12 px-4 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 text-sm"
                       type="text" placeholder="example@gmail.com or john_doe" name="username">
                <label class="font-semibold text-xs mt-3" for="password">Password</label>
                <input id="password"
                       class="h-12 px-4 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2 text-sm"
                       type="password" placeholder="••••••••" name="password">
                <button class="p-8 bg-blue-600 px-6 py-3 rounded mt-5 font-semibold text-sm text-blue-100 hover:bg-blue-700">
                    Login
                </button>
                <div class="flex mt-6 justify-center text-xs">
                    <span>Don't have an account yet?</span> <a class="text-blue-400 hover:text-blue-500 ml-1" href="/register">Sign
                    Up</a>
                </div>
            </form>

             {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-5 text-sm"
                     role="alert">
                    <strong class="font-bold">Error!</strong>
                    <span class="block sm:inline">{{ error }}</span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
