{% load static %}

<script src="{% static 'js/tailwind.min.js' %}"></script>
<script src="{% static 'js/tailwind.config.js' %}"></script>
<script src="{% static 'flowbite.css' %}"></script>
<script src="{% static 'flowbite.js' %}"></script>
{#<script src="{% static 'datatables.js' %}"></script>#}
{#<link rel="stylesheet" href="{% static 'css/app.css' %}">#}
{#<script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>#}
{#<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
